body {
    background: linear-gradient(rgba(255, 255, 255,.7), rgba(255, 255, 255,.1)), url(../Graphics/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex !important;
    flex-direction: column !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main {
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
}

.table-div {
    align-self: center !important;
    width: 70vw !important;
}

.alert-div {
    align-self: center !important;
    width: 70vw !important;
}

.my-navbar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.my-navbar h2 {
    margin-left: 5vw;
}

.my-subnavbar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    flex-wrap: wrap;
}

.searchbar {
    padding: 25px !important;
}